{% extends 'base.html' %}
{% load rest_framework %}
{% load static %}
{% block title %}
    SENSEEOT | Role Management
{% endblock %}
{% block content %}

<div class="container" role="tabpanel" aria-labelledby="users-tab">
{% comment %}
    {% if user.is_superuser %}
            <a href="{% url 'add_user_management' %}"><button class="btn btn-md btn-secondary">Add User</button></a>
    {% endif %}
{% endcomment %}
{#{{ user }} -#}
        <div class="row">
            <div class="col-lg-12">
                {% if accounts %}
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead style="background-image:linear-gradient(to right, #0062cc, #5372ff); color: white">
                                        <tr>
                                            <th class="font-weight-bold">Username</th>
                                            <th class="font-weight-bold">First name</th>
                                            <th class="font-weight-bold">Last name</th>
                                            <th class="font-weight-bold">Email</th>
    {#                                        <th class="font-weight-bold">is staff</th>#}
    {#                                        <th class="font-weight-bold">is active</th>#}
    {#                                        <th class="font-weight-bold">is superuser</th>#}
                                            <th class="font-weight-bold">Role</th>
                                            {% if account_detail.role == '2' %}
                                                <th class="font-weight-bold">Edit</th>
                                        {% endif %}
                                        <!--<th>more</th>-->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for account in accounts %}
                                            <tr>
                                                <td>{{ account.user.username }}</td>
                                                <td>
                                                    {% if account.user.first_name %}
                                                        {{ account.user.first_name }}
                                                    {% else %}
                                                        -
                                                    {% endif %}
                                                </td>
                                                <td>{% if account.user.last_name %}
                                                    {{ account.user.last_name }}
                                                {% else %}
                                                    -
                                                {% endif %}</td>
                                                <td>{{ account.user.email }}</td>
    {#                                            <td>{{ user_detail.is_staff }}</td>#}
    {#                                            <td>{{ user_detail.is_active }}</td>#}
    {#                                            <td>{{ user_detail.is_superuser }}</td>#}
                                                <td>{{ account.get_role_display  }}</td>
                                                {% if account_detail.role == '2' %}
                                                    <td>
                                                        <a href="{% url 'edit_role_management' account.pk %}">
                                                            <button class="btn btn-sm btn-block" style="background-color: #EB5E20; color: #FFFFFF">
                                                                <i class="fas fa-pencil-alt"></i>
                                                            </button>
                                                        </a>
                                                    </td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer">
                            {% include 'paginator.html' %}
                        </div>
                    </div>
                {% else %}
                    <div class="alert alert-warning font-weight-bold text-uppercase my-1">
                        No records found.
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
