{% extends 'base.html' %}
{% load rest_framework %}
{% load static %}
{% block title %}
    SENSEEOT | {{ user.username | capfirst }}'s Profile
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="card col-lg-6">
                <form method="post">
                    {% csrf_token %}

                    {#                <div class="card-header text-center" style="cursor: pointer; background-image:linear-gradient(to right, #EB5E20, #ff8c2b)">#}
                    {#                        <img src="{% static 'img/steve2.png' %}" style="width: 120px" alt="img"/>#}
                    {#                        <h5 class="font-weight-bold" style="color: #FFFFFF">{{ user.username }}</h5>#}
                    {#                    </div>#}
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12 text-center pb-2 pt-2" style="background-image:linear-gradient(to right, #EB5E20, #ff8c2b)">
                                <img src="{% static 'img/steve2.png' %}" style="width: 120px" alt="img"/><br>
                                <span class="text-white font-weight-bold">{{ user.username|capfirst }}</span>
                            </div>
                            <div class="col-lg-12 pt-3">
                                {% include 'form.html' %}
                            </div>
                        </div>

                    </div>
                    <div class="card-footer">
                        <button type="submit" value="Submit" class="btn btn-block font-weight-bold" style="color: white; background-image:linear-gradient(to right, #EB5E20, #ff8c2b)">Submit</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
{% endblock %}