.about-banner {
  height: 92vh;
  position: relative;
  color: #fff;
}

.about-banner .about-banner-content {
  text-align: center;
  position: absolute;
}

.about-banner .overlay-itro {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: .9;
}

.about-banner .about-banner-title {
  color: #fff;
  font-weight: 600;
  font-size: 3rem;
}

.about-banner .about-banner-subtitle {
  font-size: 1.5rem;
  font-weight: 300;
}

.about-banner .text-slider-items {
  display: none;
}
.about-banner-single .about-banner-content {
  margin-top: 30px;
}

.about-banner-single .about-banner-title {
  text-transform: uppercase;
  font-size: 3rem;
}
.display-about-table {
  width: 100%;
  height: 100%;
  display: table;
}
.about-table-cell {
  display: table-cell;
  vertical-align: middle;
}
.bg-image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.motto{
    height: auto;
    position: relative;
    text-align: center;
}

.motto .motto-title {
  color: #0078ff;
  font-weight: 600;
  font-size: 3rem;
}


.company-name{
    color: #2697CF;
    text-transform: uppercase;
    text-align: center;
}


.row.vdivide [class*='col-']:nth-child(odd):after {
  background: #626262;
  width: .1rem;
  content: "";
  display:block;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  height: 90%;
}

/*
!* ""@ TESTIMONIALS"" *!
.testimonials .owl-carousel .owl-item img {
  width: auto;
}

.testimonial-box {
  color: #fff;
  text-align: center;
}

.testimonial-box .author-test {
  margin-top: 1rem;

}

.testimonial-box .author-test img {
  margin: 0 auto;
}

.testimonial-box .author {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 1rem 0;
  display: block;
  font-size: 1.4rem;
}

.testimonial-box .comit {
  font-size: 2rem;
  color: #0078ff;
  background-color: #fff;
  width: 52px;
  height: 52px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  line-height: 1.6;
}
.box-shadow-a{
  box-shadow: 0 0 0 4px #cde1f8;
}
.paralax-mf{
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.paralax-mf {
  position: relative;
  padding: 8rem 0;
}
.overlay-mf {
}

.overlay-mf {
  background-color: #48abec;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: .7;
}
*/

.box-shadow-a{
  box-shadow: 0 0 0 4px #3997ff;
}

.teammate-name {
  font-size: 22px;
  color: #2697CF;
}

.comit {
  font-size: 2rem;
  /*color: #2697CF;*/
  /*background-color: #fff;*/
  width: 55px;
  height: 55px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  /*line-height: 1.6;*/
}
 #MapActivity{
   background: #006994;
 }

@media (min-width: 300px) {
    .row.vdivide [class*='col-']:not(:last-child):after {
        width: 0;
    }
  .row.vdivide [class*='col-']:not(:last-child){
    padding-bottom: 50px;
  }
}

@media (min-width: 765px) {
  .about-banner .about-banner-title {
    font-size: 4.5rem;
  }

  .about-banner .about-banner-subtitle {
    font-size: 2.5rem;
  }
  .row.vdivide [class*='col-']:not(:last-child):after {
    width: .1rem;
  }

}
@media (max-width: 1024px) {
  .bg-image {
    background-attachment: scroll;
  }
}

@media (min-width: 992px) {
  /*.testimonial-box .description {
    padding: 0 8rem;
  }*/
}

@media (min-width: 1200px) {
/*  .testimonial-box .description {
    padding: 0 13rem;
  }*/
}
