{% extends 'ConsumerPortal/index.html' %}
{% load rest_framework %}
{% load static %}
{% block title %}
     Register
{% endblock %}
{% block extrastylesheet %}
    <style>

    </style>
{% endblock %}
{% block navigation %}
{% endblock %}
{% block banner %}
{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="text-center logo">
              <a href="{% url 'home' %}"><img class="logo-responsive" src="{% static 'img/Logo New-with-text.png' %}" width="20%" alt="dish-tv-logo"></a>
        </h1>
        <div class="row justify-content-center">
{#            <div class="col-lg-6 col-md-8 col-sm-10">#}
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title font-weight-bold" style="color: #0b6bd3;">Register</h3>
                        <form method="post" novalidate>
                            {% csrf_token %}
                                {% include 'RegistrationForm.html' %}
{#                                    {{ form }}#}
                                <button type="submit" class="btn btn-block" style="color: #FFFFFF; background-color: #0b6bd3"><b>Sign up</b></button>
                        </form>
                    </div>
                    <div class="card-footer text-muted text-center">
                        Already have an account? <a href="{% url 'consumer_portal:login' %}" style="color: #0b6bd3">Login</a>
                    </div>
                </div>
                {% comment %}<div class="text-center py-2">
                    <small>
                        <a href="#" class="text-muted">Forgot your password?</a>
                    </small>
                </div>{% endcomment %}
{#            </div>#}
        </div>
    </div>
{% endblock %}







